<ion-view view-title="Bilgiler">
  <ion-nav-buttons side="right">
    <button class="right button button-clear button-positive" ng-click="getDatas()">
      Bilgileri Güncelle
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Lütfen Bekleyiniz..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="item item-divider">
      <label class="float-left divider-text">Hakediş Bilgileri</label>
    </div>
    <ul>
      <a class="item" href="#/tab/informations" ng-repeat="info in information"
         ng-disabled="true">
        {{info.Label}}
          <span class="item-note">
            {{info.Description}}
          </span>
      </a>
    </ul>

    <div class="item item-divider" ng-if="false">
      Ağ Bilgileri
    </div>
    <ul ng-if="false">
      <ion-toggle ng-model="isOnlineNetwork" toggle-class="toggle-balanced"
                  ng-disabled="true" ng-checked="isOnlineNetwork">İnternet Erişimi</ion-toggle>
      <a class="item item-icon-left" href="#" ng-disabled="true">
        <i class="icon ion-android-wifi"></i>
        Ağ Tipi
          <span class="item-note">
            {{networkType}}
          </span>
      </a>
    </ul>
    <div class="item item-divider">
      Veritabanı Bilgileri
    </div>
    <ul>
      <ion-toggle toggle-class="toggle-balanced" ng-disabled="true"
                  ng-checked="dbInfo.sqlite_plugin">SQLite Erişimi</ion-toggle>
      <a class="item item-icon-left" href="#/tab/informations" ng-disabled="true">
        <i class="icon ion-android-cloud-circle"></i>
        Veritabanı Bağlantısı
          <span class="item-note">
            {{dbInfo.adapter}}
          </span>
      </a>
    </ul>
    <div class="item item-divider">
      Lokasyon Bilgileri
    </div>
    <ul>
      <a class="item item-icon-left" href="#/tab/informations" ng-disabled="true">
        <i class="icon ion-android-locate"></i>
        Enlem
          <span class="item-note">
            {{latitude}}
          </span>
      </a>
      <a class="item item-icon-left" href="#/tab/informations" ng-disabled="true">
        <i class="icon ion-android-locate"></i>
        Boylam
          <span class="item-note">
            {{longitude}}
          </span>
      </a>
    </ul>
    <div class="item item-divider">
      Cihaz Bilgileri
    </div>
    <ul>
      <a class="item" href="#/tab/informations" ng-disabled="true">
        Model
          <span class="item-note">
            {{model}}
          </span>
      </a>
      <a class="item" href="#" ng-disabled="true">
        Platform
          <span class="item-note">
            {{platform}}
          </span>
      </a>
      <a class="item" href="#" ng-disabled="true">
        UUID
          <span class="item-note">
            {{uuid}}
          </span>
      </a>
      <a class="item" href="#" ng-disabled="true">
        İşletim Sistemi Versiyonu
          <span class="item-note">
            {{version}}
          </span>
      </a>
      <a class="item" href="#" ng-disabled="true">
        Uygulama Versiyonu
          <span class="item-note">
            {{appVersion}}
          </span>
      </a>
      <a class="item" href="#" ng-disabled="true">
        Yazılım Versiyonu
          <span class="item-note">
            {{tkatoVersion}}
          </span>
      </a>
    </ul>
  </ion-content>
</ion-view>
