<ion-view view-title="Dağıtım Listesi">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" href="#/tab/dists/{{item._id}}"
                class="item item-icon-right" type="item-text-wrap"
                ng-if="item.IsVisible">
        <h2>{{ item.WorkOrderDataInfo[0].Description }}</h2>
        <p>{{ item.WorkOrderDataInfo[item.WorkOrderDataInfo.length-1].Description }}</p>

        <span class="badge"
              ng-class="workingOnMission == item._id ? 'badge-balanced' : 'badge-stable'">
          {{ item.OrderIndex }}
        </span>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
