/* Empty. Add your own CSS if you like */

.clear-search {
  font-size: 18px;
}
.bar-no-padding {
  padding: 0 !important;
}
.row-no-padding {
  padding: 0 !important;
}
.col-no-padding {
  padding: 0 !important;
}
.dash-item-input {
  padding: 3px 0 4px 16px !important;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-40 {
  font-size: 40px;
}
.color-black {
  color: black;
}
.color-gray {
  color: dimgray;
}
.item-explanation {
  width: 200%;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
}
/*progress time text on middle of circle*/
.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 21px;
}
.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 9em;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}
/*progress time text on middle of circle*/

.list-select-buttons .item-icon-right .icon {
  right: 0 !important;
}
.list-select-buttons-checkbox {
  border-color: transparent !important;
  padding-left: 30px !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: bold;
}
.tab-item .badge.tk-badge {
  right: calc(50% - 40px) !important;
}
.content-divider {
  background-color: #f5f5f5 !important;
  color: #222 !important;;
}
.background-color-white {
  background-color: white !important;
}
.background-color-white.bottom-list .list {
  background-color: white !important;
  border-bottom: #ddd 1px solid;
}
.login-input {
  background-color: transparent;
}
.logo {
  display: block;
  position: relative;
  width: 85%;
  height: 30%;
  margin: 0 auto;
  padding-top: 20%;
  padding-right: 5%;
}
.login-card {
  box-shadow: none;
  background-color: transparent;
}
.login-form {
  padding-top: 10%;
}
.login-button {
  padding-top: 6%;
}
form i.icon.error {
  color: #ef4e3a; }

form input + i.icon.error {
  display: none;
  margin-left: 8px;
  margin-top: -43px;
  float: right;
}
.previous-photo {
  transform: rotate(90deg);
  width:100%;
  height: 100%;
}
